<style>
	.image1 {
  	display: block;
  	width: 30%;
    margin-bottom: -19%;
    margin-top: 10%;
	}
    .image2 {
    margin-bottom: 20px; 
	    width: 90px;
	
    }
    
    h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    color: black;
    margin-bottom: 95px;
    text-align: center;
    }
    
    body {
    background-color: white;
    }
    
    div {
    text-size: 10px;
    }
    
    .footer {
   position: absolute;
   margin-bottom: 50px;
   width: 60px;
	    height: 20px;
   text-align: center;
   font-size: 8px;
   font-family: 'Raleway', sans-serif;
	    margin-left: -20px;
   
}
    
</style>
